<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Lanbo Web{% endblock title %}</title>
    </head>
    <body>

        <div id="main">
        {% block content %}
        {% endblock content %}
        </div>

        {% block form %}
        {% endblock form %}

        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>

        {% block extra_js %}
        {% endblock extra_js %}

    </body>
</html>
